force-app/main/default/flows/CreateOppandProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>All</name>
        <label>All</label>
        <locationX>539</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>collectnewproducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newproduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_data_to_new_variable</name>
        <label>assign data to new variable</label>
        <locationX>539</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>newproduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newproduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saveproducts.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newproduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saveproducts.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newproduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saveproducts.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_number_of_products</name>
        <label>Check number of products</label>
        <locationX>236</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectproducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Products</targetReference>
            </connector>
            <label>Not 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!CloseDate1} + 365</expression>
    </formulas>
    <formulas>
        <name>NewName</name>
        <dataType>String</dataType>
        <expression>{!OppName}&amp;&quot; Renewal&quot;</expression>
    </formulas>
    <interviewLabel>CreateOppandProducts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOppandProducts</label>
    <loops>
        <name>Query_Products</name>
        <label>Query Products</label>
        <locationX>251</locationX>
        <locationY>551</locationY>
        <assignNextValueToReference>saveproducts</assignNextValueToReference>
        <collectionReference>collectproducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_data_to_new_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_new_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Line_Items</name>
        <label>Create new Line Items</label>
        <locationX>258</locationX>
        <locationY>731</locationY>
        <inputReference>collectnewproducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>230</locationX>
        <locationY>293</locationY>
        <assignRecordIdToReference>NewOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_number_of_products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>NewCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>lookupproducts</name>
        <label>lookupproducts</label>
        <locationX>226</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldoppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>collectproducts</outputReference>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>OppLookup</name>
        <label>OppLookup</label>
        <locationX>226</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupproducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldoppid</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CloseDate1</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oldoppid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>OppLookup</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectnewproducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>collectproducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newproduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oldoppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saveproducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
